// styles/_color.scss
$main: #16c2a3;
$line: #ededed;
$disabled: #d9dbde;
$text_1: #121826;
$text_2: #3c3e42;
$text_3: #6f6f6f;
$bg: #f6f7f9;
$price: #eb5757;
$tip: #c3c3c5;
$dark: #979797;
$tag: #848484;
$orange: #fca21c;
$plain: #eaf8f6;