// src/styles/infinite.module.scss
.container {
  flex-shrink: 0;
  color: #c3c3c5;
  font-size: 3.2vw;
  text-align: center;
}
.vertical {
  width: 100%;
  height: 5.6vw;
  line-height: 5.6vw;
}
.horizontal {
  width: 5.6vw;
  height: 100%;
  writing-mode: tb-rl;
  letter-spacing: 1.33vw;
}